<!-- Blog Post -->

<!-- Title -->
<h1>{{post.title}}</h1>

<hr>

<!-- Date/Time -->
<p>
	<span class="glyphicon glyphicon-time"></span> Posted on {{post.createdOn | date:'yyyy-MM-dd HH:mm:ss'}} <span class="glyphicon glyphicon-tag tag"></span>
	<span ng-repeat="tag in post.tag"><a href="#posts?tag={{tag.trim()}}">{{tag.trim()}}</a><span ng-if="!$last">, </span></span>
</p>

<hr>

<!-- Post Content -->
<div marked="post.content"></div>

<!-- Comments Form -->
<div class="well">
	<h4>Leave a Comment:</h4>
	<form role="form">
		<div class="form-group">
			<textarea class="form-control" rows="3" ng-model="newComment"></textarea>
		</div>
		<button type="submit" class="btn btn-primary" ng-click="addComment()">
			Submit
		</button>
	</form>
</div>

<hr>

<!-- Posted Comments -->

<!-- Comment -->

<div class="media" ng-repeat="comment in post.comments">
	<a class="pull-left" href="#"> <img class="media-object" src="http://placehold.it/64x64" alt=""> </a>
	<div class="media-body">
		<h4 class="media-heading">{{comment.user || "匿名用户"}} <small>{{comment.createdOn | date:'yyyy-MM-dd HH:mm'}}</small></h4>
		{{comment.comment}}
	</div>
</div>