<div class="col-md-8">
	<div ng-repeat="post in posts" ng-mouseover="enableEdit(post)" ng-mouseleave="disableEdit(post)">
		<h2><a href="#post/{{post.id}}">{{post.title}}</a></h2>
		<div class="row">
			<p class="col-md-11">
				<span class="glyphicon glyphicon-time"></span> Posted on {{post.createdOn | date:'yyyy-MM-dd HH:mm'}} <span class="glyphicon glyphicon-tag tag"></span>
				<span ng-repeat="tag in post.tag"><a href="#posts?tag={{tag.trim()}}">{{tag.trim()}}</a><span ng-if="!$last">, </span></span>
			</p>
			<div class="col-md-1">
				<a class="glyphicon glyphicon-edit" href="" ng-show="post.editable" title="Edit" ng-click="onEdit(post, 'edit')"></a>
				<a class="glyphicon glyphicon-trash" href="" ng-show="post.editable" title="Delete" ng-click="onDelete(post)"></a>
			</div>
		</div>
		<hr>
		<div marked="post.abstract"></div>

		<a class="btn btn-primary" href="#post/{{post.id}}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

		<hr>
	</div>
	<!-- Pager -->
	<ul class="pager">
		<li class="previous">
			<a href="#">&larr; Older</a>
		</li>
		<li class="next">
			<a href="#">Newer &rarr;</a>
		</li>
	</ul>
</div>
<!-- Blog Sidebar Widgets Column -->
<div class="col-md-4">

	<!-- Blog Search Well -->
	<div class="well">
		<h4>Blog Search</h4>
		<div class="input-group">
			<input type="text" class="form-control">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button">
					<span class="glyphicon glyphicon-search"></span>
				</button> </span>
		</div>
		<!-- /.input-group -->
	</div>

	<!-- Blog Categories Well -->
	<div class="well">
		<h4>Blog Categories</h4>
		<div class="row" ng-controller="TagController as tagController">
			<div class="col-lg-6">
				<ul class="list-unstyled">
					<li ng-repeat="tag in leftHalf">
						<a href="#posts?tag={{tag.name}}">{{tag.name}}({{tag.count}})</a>
					</li>
				</ul>
			</div>
			<!-- /.col-lg-6 -->
			<div class="col-lg-6">
				<ul class="list-unstyled">
					<li ng-repeat="tag in rightHalf">
						<a href="#posts?tag={{tag.name}}">{{tag.name}}({{tag.count}})</a>
					</li>
				</ul>
			</div>
			<!-- /.col-lg-6 -->
		</div>
		<!-- /.row -->
	</div>

</div>
